.container-products{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.delete-btn{
    position: relative;
   
}
.add-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 50px;
    margin-bottom: 20px;
}


.add-btn{
    display: flex;  
    align-items: center;  
    padding: 8px 16px;  
    border-radius: 2px;  
    font-size: 14px;  
    cursor: pointer;  
    background-color: #1976d2;  
    color: white;  
    border: none;
    width: 50px;
}